@charset "UTF-8";
   form {
      width:600px;
    }
    form  label {
      display: inline-block;
      
      width:70px;
    }
form legend{
  margin: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 10px;

}
    form * {
      box-sizing: border-box;
    }
    form ul > li {
      display:flex;
      margin:5px;
    }
    form ul >li:nth-last-child(1){
      display: flex;
      justify-content: flex-end;

    }
    form #bcontent{
      width: 100%;
    }
    form ul li button{
      margin-right: 3px;
    }
